@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .header {
        @apply bg-[#202020];
    }

    .body {
        @apply bg-[#181818];
    }

    .search {
        @apply bg-[#121212];
    }

    .btns {
        @apply bg-[#383838];
    }

    .textVid {
        @apply text-[#aaa];
    }

    .sub {
        @apply bg-[#cc0000]
    }

    .channel {
        @apply bg-[#0F0F0F]
    }
}

::-webkit-scrollbar {
    display: none;
}

* {
    outline: none;
}

.trend {
    margin-left: -272px;
}

.trendLine {
    padding-left: 272px;
}
.controls {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);
}

.modalBg {
    background: rgba(33, 33, 33, 0.98);
}
